/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
}

h1,.one,.two,.three,.two form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.check,.x{
  font-size: 7rem;
  cursor: pointer;
}

.x{
  font-size: 6rem;
}

.done{
  color: green;
}

input{
  margin-block: 2rem;
  box-shadow: 19px 18px 33px 1px rgba(0,0,0,0.2);
  padding: .5rem;
  width: 70%;
  margin-inline:10%;
  border-radius: 4px;
}


@media all and (min-width: 1000px){
  body{
    font-size: 2rem;
  }
  .check{
    font-size: 3rem;
  }
  .x{
    font-size: 2.6rem;
  }

  .two form {
    flex-direction: row;
    width: 10%;
  }

  input{
    margin-block: 1rem;
    display: inline-block;
    width: fit-content;
  }
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
